.program-container {
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
}
/* .program-wording {
    text-align: center;
    text-transform: uppercase;
    gap: 15px;
    font-size: 55px;
    font-weight: bold;
    color: #ffffff;
} */
.program-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 10px 10px;
    gap: 10px 10px;
    padding: 30px 0;
}
.program-cards {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    background: var(--caloriecard);
    padding: 25px;
    cursor: pointer;
}
/* .program-cards:hover {
    background: var(--plancard);
} */
/* .program-cards .icon {
    fill: #ffffff;
} */
.program-cards .title {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    padding: 20px 0;
}
.program-cards .description {
}

@media screen and (max-width: 768px) {
}
