.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    /* background-color: rgba(70, 77, 83, 1); */
    position: sticky;
    top: 0;
    padding: 10px 15px;
    /* background: linear-gradient(90deg, rgb(74 76 78) 33%, rgb(121 121 121) 67%); */
    background: var(--gradient-color);
    z-index: 10;
}
.icon-bar {
    display: none;
    background-color: var(--appcolor);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.icon-bar svg {
    width: 30px;
}
.header-tab {
    display: flex;
    gap: 30px;
}
.header-tab-mobile {
    display: none;
}
.app-tab {
    padding: 5px 0;
    cursor: pointer;
}
.app-tab:hover {
    /* color: #f48915; */
    border-bottom: 2px solid var(--bg-color);
    padding: 5px 0 3px 0;
}
.app-tab.active {
    border-bottom: 2px solid var(--bg-color);
}

@media screen and (max-width: 768px) {
    .header-container {
        position: revert;
        background: none;
    }
    .header-tab {
        display: none;
    }
    .header-tab-mobile {
        display: flex;
        position: fixed;
        gap: 30px;
        right: 10px;
        z-index: 99;
        flex-direction: column;
        top: 50px;
        background-color: var(--appcolor);
        padding: 2rem;
    }
    .icon-bar {
        position: fixed;
        right: 10px;
        display: block;
        background-color: var(--appcolor);
        padding: 5px;
        border-radius: 5px;
    }
}
