.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  border-top: 1px solid #ffffff;
  color: var(--appcolor);
  background: var(--bg-color);
}
.connect-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 15rem;
  padding: 0 0 20px 0;
}
.connect-cards {
  text-align: center;
}
.connect-cards svg {
  /* fill: #ff751a; */
  /* fill: #f48915; */
  fill: var(--appcolor);
}
.connect-label {
  /* color: var(--bg-color); */
  font-size: 30px;
  font-weight: bold;
  line-height: 60px;
}
.connect-description {
  line-height: 25px;
}

@media screen and (max-width: 768px) {
  .connect-section {
    justify-content: center;
  }
}
