.web-sidebar-container {
  position: fixed;
  /* height: calc(100vh - 90px); */
  height: 100%;
  width: 350px;
  right: 0;
  background: #f3f3f3;
  color: #1d1d1d;
  padding: 55px 35px 40px;
  /* right: -400px; */
  z-index: 1000;
  transition: transform 300ms ease-out;
  /* transition: transform 0.8s ease, opacity 6s ease;
  -webkit-transition: -webkit-transform 0.8s ease, opacity 0.3s ease; */
}
.web-sidebar-container section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.web-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.web-sidebar-header .close-icon {
  display: flex;
  align-items: center;
  background: #e9e9e9;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.web-sidebar-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.web-sidebar-body .body-section {
  display: flex;
  gap: 30px;
  align-items: center;
  width: max-content;
}
.web-sidebar-body .body-section:hover {
  cursor: pointer;
  opacity: 0.7;
}
.web-sidebar-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 45px 0 0 0;
  border-top: 1px solid #ddd;
}
