.program-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 60px 20px; */
}
/* .program-wording {
    text-align: center;
    text-transform: uppercase;
    gap: 15px;
    font-size: 55px;
    font-weight: bold;
    color: #ffffff;
} */
.program-wordings {
  text-align: center;
  font-size: 19px;
  line-height: 30px;
  font-weight: 300;
  width: 900px;
}
.program-card-container {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  /* grid-gap: 10px 10px;
  gap: 10px 10px; */
  padding: 30px 0;
}
.program-cards {
  display: flex;
  /* flex-direction: column; */
  width: 50%;
  height: auto;
  background: #030707;
  color: #fff;
  /* padding: 25px; */
  /* cursor: pointer; */
}
.program-cards:nth-child(2),
.program-cards:nth-child(3) {
  background: var(--bg-color);
}
.program-cards:nth-child(3),
.program-cards:nth-child(4) {
  flex-direction: row-reverse;
}
.program-cards .program-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 50%;
}
.program-cards .program-image {
  width: 50%;
}
.program-cards .program-image img {
  width: 100%;
  height: 100%;
}
.program-cards svg {
  fill: var(--appcolor);
}
/* .program-cards:hover {
  background: var(--bg-color);
} */
/* .program-cards .icon {
    fill: #ffffff;
} */
.program-cards .title {
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  padding: 20px 0;
}
.program-cards .description {
}

@media screen and (max-width: 900px) {
  .program-cards {
    flex-direction: column;
    justify-content: space-between;
  }
  .program-cards .program-details {
    width: 100%;
  }
  .program-cards .program-image {
    width: 100%;
  }
  .program-cards:nth-child(3),
  .program-cards:nth-child(4) {
    flex-direction: column;
  }
  .program-wordings {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
}

@media (max-width: 575.98px) {
  .program-cards {
    width: 100%;
  }
  .program-cards .program-details {
    height: 250px;
  }
  .program-cards .program-image {
    height: 250px;
  }
}
